.to-do-container{
    margin: auto;
    padding: 20px 40px;
    background-color: #ffecb3;
    width: 400px;
    min-height: 400px;
    border-radius: 5px;
    box-shadow: 7px 7px 5px -2px rgba(0,0,0,0.3);
    text-align: center;
}

.to-do-list {
    box-sizing: border-box;
    max-width: 100px;
    list-style-type: none;
    padding: 0;
    
}

.list-item {
    position: relative;
    width: 390px;
    text-align: left;
    color: #808e95;
    margin-top: 12px;
    cursor: pointer;
    font-size: 18px; 
}

.checked-item {
    text-decoration: line-through;
}

.remove {
    position: absolute;
    right: 0;
}

.line-container{
    display: grid;
    grid-template-columns: 90% auto;
}

.list-input{
    border: none;
    background-color:  #ffecb3;
    border-bottom: 2px solid #808e95;
}

.list-item:hover {
    color: #62757f;
    font-weight: bold;
  }